body {
  background: #3171b3;
}

button {
  display: inline-block;
  margin-bottom: 14px;
}

#buttons {
  text-align: center;
}

#grid {
  margin: 0 auto;
}

.cell {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  float: left;
  background-color: #c2c2c2;
  border: 1px solid #e3e3e3;
  color: blue;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}

.unclicked {
  font-size: 0px !important;
  background: none !important;
  background-color: #c2c2c2 !important;
}

.mine {
  background: url('../images/mine.jpg') no-repeat center;
  background-size: 100% 100%;
}

.flagged {
  background: url('../images/flag.png') no-repeat center;
  background-size: 100% 100%;
  font-size: 0px !important;
}
